.header {
  background-color: blueviolet;
}

.container {
  display: flex;
  padding: 10px;
  height: 3em;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  background-color: blueviolet;
}

.navigation a {
  margin:0 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.navigation a:hover {
  border: solid 1px #fff;
}

.header h2 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #fff;
}

@media screen and (min-width: 501px) and (max-width:980px){
  .navigation a{
    margin: 10px;
  }
}

@media screen and (max-width:500px){
    .navigation a{
      margin: 10px;
    }
}