.cardWrapper {
  width: 50%;
  padding: 15px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 5px #eee,
     -2px -2px 5px #f1f1f1;
}

.cardWrapper:hover {
  transform: scale(1.03);
}

.userDetails, .status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.statusAc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.loanDetails{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

.acceptBtn {
  color: #00c853;
}

/* .acceptBtn::before {
  content:url('../../assest/check-solid.svg');
} */


.rejectBtn {
  color: #ff3d00;
}

.acceptBtn:hover {
  background-color: #00c853;
  color: #fff;
}

.rejectBtn:hover {
  background-color: #ff3d00;
  color: #fff;
}

@media screen and (min-width: 501px) and (max-width:980px){
  .cardWrapper {
    width: 70%;
  }
}

@media screen and (max-width:500px){
  .cardWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .userDetails {
    flex-direction: row;
  }
  .status {
    flex-direction: row;
  }
}